﻿/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons that are used to open the tab content */
    .tab input[type="button"] {
        margin-left: 0px !important;
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.5s;
    }

        /* Change background color of buttons on hover */
        .tab input[type="button"]:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab input[type="button"].active {
            background-color: #ccc;
        }

.tabcontent {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

    .tabcontent label[class="labels"] {
        width: 140px;
        display: inline-block;
    }

    .tabcontent input[type=text] {
        min-width: 50%;
        padding: 6px 10px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    .tabcontent .defaultButton {
        padding: 6px 20px;
        margin-top: 3px;
    }

    .tabcontent .header1 {
        font-size: 14px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }

    .tabcontent .content {
        height: 0px;
        padding: 0px;
        overflow: auto;
    }

.selectbox {
    width: 50%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 5px 0 0 0;
    padding: 5px;
    overflow: auto;
}

    .selectbox select {
        background: transparent;
        border: 1px solid red;
        -webkit-appearance: none;
    }

.mapping {
    min-width: 60%;
    padding: 5px 0px;
}

    .mapping > .header {
        display: block;
        background-color: #f1f1f1;
        padding: 8px 16px;
        cursor: default;
        border: 1px solid #f1f1f1;
        border-bottom: none;
    }

        .mapping > .header:hover {
            background-color: #ddd;
        }

    .mapping > .content {
        height: 0px;
        padding: 0px 0px;
        border: 1px solid #f1f1f1;
        border-top: none;
        transition: height 0.5s;
        overflow: auto;
    }

        .mapping > .content > .table {
            display: table;
            margin: 5px;
            width: 98%;
            border: 1px solid lightgray;
            text-align: center;
        }

            .mapping > .content > .table > .rowHeader {
                display: table-row;
                background-color: lightgray;
                text-align: center;
                font-weight: bold;
                font-size: 14px;
            }

                .mapping > .content > .table > .rowHeader > .cell {
                    display: table-cell;
                    padding: 5px;
                    min-width: 150px;
                }

            .mapping > .content > .table > .row {
                display: table-row;
            }

                .mapping > .content > .table > .row > .cell {
                    display: table-cell;
                    padding: 5px;
                    min-width: 150px;
                }

                    .mapping > .content > .table > .row > .cell > .label {
                        padding: 5px;
                    }

                    .mapping > .content > .table > .row > .cell > .textbox {
                        padding: 5px;
                        margin: 2px;
                    }
